html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background: black;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

h1{
    font-size: 35px;
    color: yellow;
    font-weight: bold;
}

.navi{
    display: flex;
}


header a{
    padding: 3px 10px;
    color: black;
    background-color: yellow;
    margin-left: 25px;
    border-radius: 5px;
}

header a:hover{
    transform: scale(1.2);
}

header a:active{
    transform: scale(1.4);
}

main{
    background:#DDDDDD;
}

.container-filmes{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10% 0;
}

.filmes{
    width: 21%;
    padding: 2.5% 2.5%;
    transition: 0.2s all;
}

.filmes:nth-child(4n+1){
    padding-left: 0px;
}

.filmes:nth-child(4n){
    padding-right: 0px;
}

.filmes:hover{
    transform: scale(1.2);
}

.filmes:active{
    transform: scale(1.4);
}


footer{
    width: 100%;
    background: black;
    margin-top: auto;

}

footer div{
    display: flex;
    justify-content: center;
}
a{
    color: yellow;
    padding: 20px 10px 10px 10px;
}

footer p{
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding: 0 0 15px;
}


@media (max-width:780px){
    .container{
        flex-direction: column;
        width: 100%;
    }

    .navi{
        width: 100%;
        justify-content: space-around;
    }

    .container a{
        text-align: center;
        margin: 10px 0;
        padding: 15px 40px;
    }

    .container-filmes{
        align-items: center;
    }

    .filmes{
        width: 28%;
        padding: 2% 2%;
    }

    .filmes:nth-child(4n+1){
        padding-left: 2%;
    }
    
    .filmes:nth-child(4n){
        padding-right: 2%;
    }
    
}

@media (max-width:600px){
    .navi{
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-items: initial;    
    }

    .container a{
        text-align: center;
        margin: 10px 0;
    }

    .container-filmes{
        flex-direction: column;
    }
    
    .filmes{
        width: 80%;
    }
}